//fonts
$main-font: 'Heebo', sans-serif;

//colors
$black: #1e1e1e;
$white: #d8d8d8;
$red: rgb(240, 52, 52);

//mixins

//box-shadow for any elements with dynamic border-radius
@mixin shadow($br) {
	border: 1px solid rgba(0, 0, 0, 0.02);
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0,
	rgba(27, 31, 35, 0.15) 0 0 0 1px;
	border-radius: $br;
}
